.link-menu {
  text-decoration: none;
  color: gray;
}

#titleGender {
  color: gray;
  text-decoration: none;
}

.displayLogin {
  position: absolute;
  margin-left: 110vh;
}

.displayRegistration {
  position: absolute;
  margin-left: 120vh;
}

/* margin: "auto",
                  padding: "auto",
                  marginLeft: 505,
                  textDecoration: "none",
                  color: "gray", */
