.structure {
  margin: auto;
  padding: auto;
  position: relative;
}

.background {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 50%,
    rgba(252, 69, 69, 1) 100%
  );
}

.login_page {
  background-image: url("https://images4.alphacoders.com/294/thumb-1920-294344.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.positionCenter {
  margin-top: 200px;
  width: 40%;
  height: 250px;
  color: white;
  border: 3px solid rgb(173, 5, 5);
  border-radius: 1em;
  box-shadow: 7px 7px 7px 6px rgba(0, 0, 0, 0.2);
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.7844827586206897) 20%,
    rgba(119, 17, 17, 1) 80%
  );
}

.colorTitle {
  padding: 10px;
  font-style: oblique;
  font-family: "Times New Roman", Times, serif;
}

.positionUser {
  margin-right: 30px;
}

.positionPassaword {
  margin-right: 40px;
}

.position_inla {
  margin: 20px;
}
